/* styles.css */
body {
  background-image: url("../images/bg.gif");
  background-repeat: repeat-y;
  margin: 10;
  padding: 0;
}

.navigation {
  padding-left: 170px;
}

div {
  color: #000000;
  line-height: 1.6;
}

.container {
  flex: 1;
  position: relative;
}

.bottom-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #000000;
  padding: 10px;
}

a {
  text-decoration: none;
}

p {
  color: #000000;
  line-height: 1.6;
  font-weight: bold;
}