/* styles.css */
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

div {
  color: #000000;
  line-height: 1.6;
}

.bottom-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #000000;
  padding: 10px;
}

a {
  text-decoration: none;
}

p {
  color: #ffffff;
  line-height: 1.6;
  font-weight: bold;
}